---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404 not found'>
  <main class='max-w-4xl m-auto min-h-screen grid place-content-center text-center'>
    <p class='text-blue-500 text-4xl font-bold'>404</p>
    <h1 class='text-4xl font-black mb-4'>Page not found!</h1>
    <a href='/' class='text-blue-500 text-xl hover:underline'>Go back</a>
  </main>
</Layout>
