---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import Navbar from '../components/Navbar';
import Section from '../layouts/Section.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Presentation from '../components/Presentation.astro';
import Contact from '../components/Contact.astro';
---

<Layout title='Ariel Galvez Portfolio'>
	<main class='px-3 md:px-5 max-w-5xl mx-auto flex flex-col-reverse'>
		<Section id='contact' title='Contact me'>
			<Contact/>
		</Section>
		<Section id='projects' title='Projects'>
			<Projects/>
		</Section>
		<Section id='experience' title='Work Experience'>
			<Experience />
		</Section>
		<Section id='about' title='About me'>
			<About/>
		</Section>
		<Presentation/>
		<Navbar client:load />
	</main>
</Layout>
