---
import { about } from '../data/about';
import AnimateCat from './AnimateCat.astro';
---

<section class='flex items-center gap-4'>
	<section class='max-w-2xl'>
		{about.map((line) => <p class='my-3 leading-5 dark:text-gray-200'>{line}</p>)}
	</section>
	<AnimateCat />
</section>
