<p class='my-3 leading-4'>
  I'm very curious and keep continuously learning new technologies and improving my skills.
</p>
<p class='my-3 leading-4'>
  Attentive to quality of work in every stage of the development lifecycle from design, coding,
  debugging, testing, and maintenance.
</p>
<p class='my-3 leading-4'>
  Strong knowledge of HTML+CSS and ability to implement any complex design taking care of the
  responsive design.
</p>
<p class='my-3 leading-4'>Capability to learn and adapt to other technologies.</p>
<p class='my-3 leading-4'>Bachelor's degree in computer science (System Engineering).</p>
