---
/* taken from https://codepen.io/bgop/pen/XPgLra */
---

<section class='cat'>
	<div class='cat-head'>
		<div class='eyes'>
			<div class='eye'></div>
			<div class='eye'></div>
		</div>
	</div>
	<div class='cat-body'>
		<div class='tail'></div>
	</div>
</section>
<style is:inline>
	.cat {
		margin-right: 2.25vmax;
	}
	.cat-head {
		width: 4vmax;
		height: 4vmax;
		background: var(--cat-color);
		border-radius: 50% 50% 100% 100%;
		position: relative;
		top: 0.8vmax;
		z-index: 2;
		border-bottom: 1px solid var(--cat-chin-color);
		-webkit-animation: move-head 6s ease-in infinite;
		animation: move-head 6s ease-in infinite;
	}
	.cat-head::before,
	.cat-head::after {
		width: 1.2vmax;
		height: 0.5vmax;
		content: '';
		background-color: var(--cat-color);
		border-radius: 5% 100% 0 0;
		border-top: 1vmax solid var(--cat-color);
		border-left: 0.4vmax solid var(--cat-color);
		position: absolute;
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
		top: -0.5vmax;
		left: 0;
	}
	.cat-head::after {
		left: auto;
		right: 0;
		-webkit-transform: scaleX(-1) rotate(-5deg);
		transform: scaleX(-1) rotate(-5deg);
		-webkit-animation: move-ear 3s ease-in infinite;
		animation: move-ear 3s ease-in infinite;
	}
	.cat-head .eyes {
		height: 3vmax;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.cat-head .eyes .eye {
		width: 0.6vmax;
		height: 0.6vmax;
		background-color: #4C4C4C;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 0 0.3vmax var(--cat-eyes-color);
		box-shadow: 0 0 0 0.3vmax var(--cat-eyes-color);
		z-index: 5;
		position: relative;
		-webkit-animation: blink 3s ease-out infinite;
		animation: blink 3s ease-out infinite;
	}
	.cat-head .eyes .eye::after {
		content: '';
		width: 0.2vmax;
		height: 0.2vmax;
		background-color: #ffdfdf;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0.3vmax;
	}
	.cat-head .eyes .eye:last-child {
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.cat-head .eyes .eye:last-child::after {
		left: auto;
		right: 0.3vmax;
	}
	.cat-body {
		height: 8vmax;
		width: 3.8vmax;
		background: var(--cat-color);
		border-radius: 100% 100% 70% 70%;
		position: relative;
		top: -0.4vmax;
	}
	.cat-body .tail {
		width: 5.6vmax;
		height: 2.6vmax;
		background-color: transparent;
		border-radius: 50%;
		border: 0.8vmax solid var(--cat-color);
		border-left-color: transparent;
		border-top-color: transparent;
		position: absolute;
		bottom: 0;
		left: 0.5vmax;
		-webkit-animation: move-tail 4s ease-in infinite;
		animation: move-tail 4s ease-in infinite;
	}
	.cat-body .tail::after {
		content: '';
		width: 0.9vmax;
		height: 1vmax;
		background-color: var(--cat-color);
		position: absolute;
		right: -0.5vmax;
		border-radius: 50%;
		top: -0.4vmax;
		-webkit-transform: skew(44deg, -26deg);
		transform: skew(44deg, -26deg);
	}

	@keyframes blink {
		78%,
		82%,
		86%,
		90% {
			opacity: 1;
		}
		80%,
		88% {
			opacity: 0;
		}
	}

	@keyframes move-ear {
		50%,
		60% {
			-webkit-transform: scaleX(-1) rotate(-5deg);
			transform: scaleX(-1) rotate(-5deg);
		}
		55% {
			-webkit-transform: scaleX(-1) rotate(-30deg);
			transform: scaleX(-1) rotate(-30deg);
		}
	}

	@keyframes move-tail {
		50%,
		60% {
			width: 5.6vmax;
		}
		85% {
			width: 4vmax;
		}
	}
	@keyframes move-head {
		50%,
		60% {
			-webkit-transform:  rotate(-5deg);
			transform: rotate(-5deg);
		}
		85% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}
</style>
