---
import MailMe from './MailMe.astro';
import { SocialMedia } from './SocialMedia';
---

<p class="dark:text-gray-200">You can find me on the following links</p>
<ul class='flex justify-center gap-3'>
  <SocialMedia client:load />
  <MailMe />
</ul>
