<section class='text-center py-4'>
  <h1 class='text-2xl xs:text-4xl font-bold text-gray-400'>
    Hey there! I'm <span class='text-blue-500'>Ariel Galvez</span>
  </h1>
  <p class='text-xl font-bold text-gray-500'>Full stack developer</p>
</section>
