---
import { bgRainBowColorProps } from '../utils/bgRainBowColorProps';

export interface Props {
	id: string;
	title: string;
}
const { id, title } = Astro.props;
---

<section id={id} class='py-12 group last:pb-24'>
	<h2
		class={`${bgRainBowColorProps.class} text-lg font-bold pt-4 inline-block`}
		style={bgRainBowColorProps.style}
	>
		{title}
	</h2>
	<slot />
</section>
